<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="900">

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://use.fontawesome.com/1dff68118a.js"></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <style>
        a {
  color: #000;
}

/* header */

.header {
  background-color: #ff7575;
  box-shadow: 1px 1px 4px 0 rgba(255,117,117,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #ff7575;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #ff7575;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #ffeaea;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #fff2f2;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
.btn{
  background: #fff2f2;
}
.back{
  margin-top: 20px;
    margin-right: 75px;
    margin-bottom: 20px;

}
.back-main{
  margin-top: 20px;
    margin-left: 20px;
  margin-bottom: 20px;
}

      .userImage{
      margin-left: 150px;
        height: 400px;
        width: 520px;
        border-radius: 10px;
      }
      .font-medium{
        font-size: 2rem;
        font-weight: 900;
      }
      .status{
        padding: 3rem 10rem;
      }
    </style>
    <title>UserPage</title>
  </head>
  <body>
    <header class="header">
      <a href="/main" class="logo">
        <form action="/logout" method="POST">
          <button class="btn back-main" type="submit">Back</button>
        </form></a>
      <input class="menu-btn" type="checkbox" id="menu-btn" />
      <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
      <ul class="menu">
        <li>              
          <a class="nav-link mr-5" href="/main"><div class="icon"><i class="fa fa-users fa-border fa-2x" aria-hidden="true"></div></i></a>
        </li>
        <li>              
          <a class="nav-link mr-5"href="/covidinfo"><i class="fa fa-bar-chart fa-border fa-2x" aria-hidden="true"></i></a>
        </li>
        <li>
          <form action="/logout" method="POST">
            <button class="btn back" type="submit">Logout</button>
          </form>
        </li>
      </ul>
    </header>
  <br>
    <div class="container-fluid" style="padding: 3rem 3rem;
     margin-top: 8%;">
      <div class="row ">
<div class="col-sm"> 
  <%if(imageUrl===undefined){%>
    <img src="../public/images/user.png" alt="Latest User Image" class="userImage" />
    <%}else{%>
   <img src="<%= imageUrl %>" alt="Latest User Image" class="userImage" />
   <% }%>
  </div>
  <div class="col-sm" >
    <h1 class="font-medium">Name: <%= user.name %></h1>
    <h1 class="font-medium">DOB: <%= user.dob %></h1>
    <h1 class="font-medium">Gender: <%= user.gender %></h1>
    <h1 class="font-medium">Phone Number 1: <%= user.phoneNo %></h1>
    <h1 class="font-medium">Phone Number 2: <%= user.phoneNo2 %></h1>
    <h1 class="font-medium">Email: <%= user.email %></h1>
    <h1 class="font-medium">Address: <%= user.address %></h1>
    <h1 class="font-medium">Temperature: <%= latestUpdate.temperature %></h1>
  </div>
  </div>
  </div>
  <div class="status">
  <%if(!statusList.empty){%>
    
    <% for(i=0;i<statusList.length;i++){ %>
    <div class="accordion" id="change<%= i%>">
      <div class="card">
        <div class="card-header" id="heading<%= i%>">
          <h2 class="mb-0">
            <button style="font-size: 2.1rem;" class="btn btn-black btn-link" type="button" data-toggle="collapse" data-target="#collapse<%= i%>" aria-expanded="true" aria-controls="collapse<%= i%>">
              Status Updated Time:  <%= timeArray[i]%>
            </button>
          </h2>
        </div>
    
        <div id="collapse<%= i%>" class="collapse show" aria-labelledby="heading<%= i%>" data-parent="#change<%= i%>">
          <div class="card-body">
            <h3>Time of this Status: <%= timeArray[i]%></h3>
            <h3>Location: <%= statusList[i].location%> </h3>
            <h3>Temperature: <%= statusList[i].temperature%> </h3>
            <h3>Additional Information: <%= statusList[i].additionalInfo  %> </h3>

          </div>
        </div>
      <% }%>
      <%}else{%>
        <h1 style=" padding: 100px 40%;width: 100%;">No Status Updates Found.</h1>
        <% }%>
      </div>


  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script
src="https://code.jquery.com/jquery-2.2.4.min.js"
integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
crossorigin="anonymous"></script>
<script
src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
crossorigin="anonymous"></script>
  </body>
</html>
