<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="900">

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://use.fontawesome.com/1dff68118a.js"></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <style>
      .btn {
        top: 10%;
      }
      .btn:link,
      .btn:visited {
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        border-radius: 100px;
        transition: all 0.2s;
      }
      .btn-black:hover,.btn-black:visited,.btn-black:link{
        color:#000 !important;
      }
      .btn:hover {
        transform: translateY(-3px);
        color: #fff;
      }
      .btn:active {
        transform: translateY(-1px);
      }
      .btn-white {
        background-color: #4B5366;;
        color: #fff;
      }
      .btn::after {
        content: '';
        display: inline-block;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s;
      }
      .btn-white::after {
        background-color: #fff;
      }
      .btn:hover::after {
        transform: scaleX(1.4)
          scaleY(1.6);
        opacity: 0;
      }
      .btn-animated {
        animation: moveInBottom 5s
          ease-out;
        animation-fill-mode: backwards;
      }
      @keyframes moveInBottom {
        0% {
          opacity: 0;
          transform: translateY(30px);
        }
        100% {
          opacity: 1;
          transform: translateY(0px);
        }
      }
      .userImage{
      margin-left: 150px;
        height: 400px;
        width: 520px;
        border-radius: 10px;
      }
      .font-medium{
        font-size: 2rem;
        font-weight: 900;
      }
      .status{
        padding: 3rem 10rem;
      }
    </style>
    <title>UserPage</title>
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-dark bg-info text-dark"
    >

      <div class="text-box">
        <a
          href="/main"
          class="btn btn-white btn-animate"
          >Back</a
        >
      </div>
       <div class="collapse navbar-collapse"  id="navbarTogglerDemo03">
          <ul class="navbar-nav ml-auto mr-5 mt-lg-0" style="float: right; align-items: center;">
            <li class="nav-item active" >
              <a class="nav-link mr-5" href="/main"><div class="icon"><i class="fa fa-users fa-border fa-2x" aria-hidden="true"></div></i></a>
            </li>
            
            <li class="nav-item" >
              <a class="nav-link mr-5" href="/covidinfo"><i class="fa fa-bar-chart fa-border fa-2x" aria-hidden="true"></i></a>
            </li>
            <div class="nav-item">
              <form class="form-inline ml-12 my-2 my-lg-0" action="/logout" method="POST">
                <button class="btn btn-white btn-animate" style="border-radius: 100px;background: #4B5366;" type="submit">Logout</button>
              </form>
            </div>
          </ul>
    </nav>
    <br />
    <div class="container-fluid" style="padding: 3rem 3rem;">
      <div class="row ">
<div class="col-sm"> 
  <%if(imageUrl===undefined){%>
    <img src="../public/images/user.png" alt="Latest User Image" class="userImage" />
    <%}else{%>
   <img src="<%= imageUrl %>" alt="Latest User Image" class="userImage" />
   <% }%>
  </div>
  <div class="col-sm" >
    <h1 class="font-medium">Name: <%= user.name %></h1>
    <h1 class="font-medium">DOB: <%= user.dob %></h1>
    <h1 class="font-medium">Age: <%= user.age %></h1>
    <h1 class="font-medium">Gender: <%= user.gender %></h1>
    <h1 class="font-medium">Phone Number 1: <%= user.phoneNo %></h1>
    <h1 class="font-medium">Phone Number 2: <%= user.phoneNo2 %></h1>
    <h1 class="font-medium">Email: <%= user.email %></h1>
    <h1 class="font-medium">Address: <%= user.address %></h1>
    <h1 class="font-medium">Temperature: <%= latestUpdate.temperature %></h1>
  </div>
  </div>
  </div>
  <div class="status">
  <%if(!statusList.empty){%>
    
    <% for(i=0;i<statusList.length;i++){ %>
    <div class="accordion" id="change<%= i%>">
      <div class="card">
        <div class="card-header" id="heading<%= i%>">
          <h2 class="mb-0">
            <button style="font-size: 2.1rem;" class="btn btn-black btn-link" type="button" data-toggle="collapse" data-target="#collapse<%= i%>" aria-expanded="true" aria-controls="collapse<%= i%>">
              Status Updated Time:  <%= timeArray[i]%>
            </button>
          </h2>
        </div>
    
        <div id="collapse<%= i%>" class="collapse show" aria-labelledby="heading<%= i%>" data-parent="#change<%= i%>">
          <div class="card-body">
            <h3>Time of this Status: <%= timeArray[i]%></h3>
            <h3>Location: <%= statusList[i].location%> </h3>
            <h3>Temperature: <%= statusList[i].temperature%> </h3>
            <h3>Additional Information: <%= statusList[i].additionalInfo  %> </h3>

          </div>
        </div>
      <% }%>
      <%}else{%>
        <h1 style=" padding: 100px 40%;width: 100%;">No Status Updates Found.</h1>
        <% }%>
      </div>


  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script
src="https://code.jquery.com/jquery-2.2.4.min.js"
integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
crossorigin="anonymous"></script>
<script
src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
crossorigin="anonymous"></script>
  </body>
</html>
